* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: burlywood;
    display: grid;
    grid-template-rows: 60px 500px;
    grid-template-columns: 1;
    grid-gap: 1px;
}

.header {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: rgb(94, 83, 83);
}

.header .first-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.sidebar form input {
    width: 200px;
}



.header img {
    height: 40px;
    width: 60px;
    border: 2px solid black;
}

.header .first-div button {
    width: 140px;
    height: auto;
    border: 2px solid black;
}

.header .first-div button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.sidebar {

    margin: auto;

}

main .sidebar form {
    cursor: pointer;
    margin: 0;
    transform: translateX(70px);
}

.sidebar form button {
    margin-top: 20px;
    width: 130px;
    height: auto;
}

.sidebar form button:hover {
    background-color: blueviolet;
    list-style-type: none;
}