* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

main {
    width: 100%;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 60px 600px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    background-color: cadetblue;


}

.header {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: rgb(94, 83, 83);
}

.header .first-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.header img {
    height: 40px;
    width: 80px;
    border: 2px solid black;
}

.header .first-div button {
    width: 140px;
    height: auto;
    border: 2px solid black;
}

.header .first-div button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.main {
    grid-row: 2;
    grid-column: 1;
    padding: 0%;
    margin: 0%;

}

.main img {

    border-style: none;
    width: 100%;
    height: auto;

}

.sidebar {
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
    padding: 0%;



}

.sidebar form {
    margin: auto;
}

.sidebar form button {
    margin-top: 10px;
    min-width: 120px;
    border: 2px solid black;
}

.sidebar h2 {
    margin-bottom: auto auto;

}


.footer {
    background-color: rgb(238, 234, 234);
    grid-row: 3;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    border: transparent;
}

.footer div {
    word-spacing: 30px;

}