body {
    margin: 9px 9px 0px 9px;
    padding: 0%;
    background-image: url(/connor-coyne-OgqWLzWRSaI-unsplash\ \(1\).jpg);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}


.nav-bar {
    background: #262626;

}

.nav-bar a {
    font-size: 12px;
    text-transform: uppercase;
}

.nav-bar:after {
    content: '';
    clear: both;
    display: block;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
}

.nav-bar>ul>li {
    float: left;
    position: relative;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;

}

.nav-bar ul li:hover a {
    background: #34495a;
}

.nav-bar ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-bar ul li:hover>ul {
    display: block;
}

.nav-bar ul ul li:hover a {
    background: #34495a;
}

.nav-bar ul ul li {
    position: relative;

}

.nav-bar ul ul ul {
    top: 0;
    left: 100%;

}

.nav-bar ul ul ul li:hover a {
    background: #000000;
    color: #fff;


}

main {
    margin-top: 10px;
    border: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 550px;
}


.nav-bar button {
    float: right;
    margin-right: 12px;
}

.left {


    width: 450px;
}

button {
    margin-left: 250px;
    width: 144px;
    height: 34px;

}


.left .card .card-one img {
    margin-left: 0px;
    height: 200px;
    width: 500px;


}

.right .card .card-one img {
    height: 200px;
    width: 400px;
    margin-left: 0px;
}

.right-1 .card .card-one img {
    height: 200px;
    width: 400px;
    margin-left: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.middle img {
    width: 300px;
    height: 200px;
}

.middle p {
    font-size: large;
    font-weight: bold;
}

.middle .card-details {
    text-align: center;
}

.end {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

footer {
    background-color: #3a3939;
    color: white;
    text-align: center;
    font-size: large;
    border: 2px solid white;
}