  .main{
         margin-left: 4rem;
    }
    .first {
        display: flex;
        justify-content: center;
        gap: 400px;

    }
.first #img1{
   
    
    height: 150px;
    width: 300px;
    
}
.first #para1 {
 
    font-weight: bolder;
    font-size: larger;
}
.first #para2 {  
   
    font-weight: lighter;
    font-size: large;
}
.first #img2 {
   
    height: 600px;
    width: 600px;
}

.first #img3{
    width: 150px;
    height: 50px;
    margin: auto;
}
.first #img4 {
    display: inline;
    width: 150px;
    height: 50px;
    margin: auto;  
}
.Secound #img4{
    display: flex;
    margin: auto;
    height: 600px;
    width: 600px;
}
.Secound {
    justify-content: center;
    display: flex;
    gap: 300px;
}
.Secound #text1 {
    text-align: center;
    margin: auto;
    opacity: 0.5; 
    font-size: x-large; 
    padding-top: 150px;  
}
.third {
    justify-content: center;
    display: flex;
    gap: 300px;
}
.third #text2 {
    text-align: center;
    margin: auto;
    opacity: 0.5; 
    font-size: x-large;
    padding-top: 300px;
}
.third #img5 {
    margin: auto;
    height: 600px;
    width: 600px;
}
.fourth{
    display: flex;
    gap: 300px;
    justify-content: center;
}
.fourth #img6 {
    margin: auto;
    height: 600px;
    width: 600px;
}
.fourth #text3 {
    text-align: center;
    margin: auto;
    padding-top: 150px;
    opacity: 0.5; 
    font-size: x-large;
    margin: auto;
}
#text4 {
    text-align: center;
    font-size: x-large;
    margin: auto;
    justify-content: center;
}
.five #text5{
    text-align: center;
    font-size: x-large;
    margin: auto;
}
.five #fig1{
    display: flex;
    margin-left: auto;
  margin-right: auto;
    gap: 10px;
    justify-content: center;
    
    
}
.five #fig1 #image1 {
   
    height: 80px;
    width: 230px;
}

.five #fig1 #image2 {
   
    height: 80px;
    width: 230px;
    
    
}
.fourth #figg1 {
    justify-content: center;
    width: 45%;
    height: auto;
}
